services:
  database:
    container_name: clone-tabnews-postgres-dev
    image: "postgres:16.0-alpine3.18"
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"

networks:
  default:
    name: clone-tabnews-network-dev
